<div *ngIf="products.length > 0">
    <table>
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Aperçu</th>
        </tr>
        <tr *ngFor="let current of products">
            <td>{{current.name}}</td>
            <td>{{current.price}}</td>
            <td><img src={{current.img}} alt={{current.name}}></td>
        </tr>
        <tr>
            <td colspan="2">Total (HT):</td>
            <td>{{getTotalHT()}}€</td>
        </tr>
        <tr>
            <td colspan="2">Total (TTC):</td>
            <td>{{getTotalTTC()}}€</td>
        </tr>
    </table>

    <button routerLink="/payment/form">Payer</button>
</div>